packages/
.vs/
.vscode/
bin/
obj/
Log/
Logs/
Web*.Config
appsettings*.json
*/.vs/
*/.vscode/
*/bin/
*/obj/
*/Log/
*/Logs/
*/Web*.Config
*/appsettings*.json
*/*/.vs/
*/*/.vscode/
*/*/bin/
*/*/obj/
*/*/Log/
*/*/Logs/
*/*/Web*.Config
*/*/appsettings*.json
/UFX.SCM.WebUI/Content/Uploads
/UFX.SCM.OpenApi/.config
*.pubxml
*.user
