USE [master]
GO
/****** Object:  Database [Test]    Script Date: 2021/5/31 9:42:56 ******/
CREATE DATABASE [Test]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Test', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\Test.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Test_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2019\MSSQL\DATA\Test_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Test].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Test]
GO
/****** Object:  User [abc]    Script Date: 2021/5/31 9:42:57 ******/
CREATE USER [abc] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BulkTest]    Script Date: 2021/5/31 9:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BulkTest](
	[Id] [uniqueidentifier] NOT NULL,
	[FieldA] [varchar](200) NULL,
	[FieldB] [varchar](200) NULL,
	[FieldC] [varchar](200) NULL,
	[FieldD] [varchar](200) NULL,
	[FieldE] [varchar](200) NULL,
	[FieldF] [varchar](200) NULL,
	[FieldG] [varchar](200) NULL,
	[FieldH] [varchar](200) NULL,
	[FieldI] [varchar](200) NULL,
	[FieldJ] [varchar](200) NULL,
	[FieldK] [varchar](200) NULL,
	[FieldL] [varchar](200) NULL,
	[FieldM] [varchar](200) NULL,
	[FieldN] [varchar](200) NULL,
	[FieldO] [varchar](200) NULL,
	[FieldP] [varchar](200) NULL,
	[FieldQ] [varchar](200) NULL,
	[FieldR] [varchar](200) NULL,
	[FieldS] [varchar](200) NULL,
	[FieldT] [varchar](200) NULL,
	[FieldU] [datetime] NULL,
	[FieldV] [decimal](18, 2) NULL,
	[FieldW] [int] NULL,
 CONSTRAINT [PK_BULKTEST] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
